In [1]:
import napari
import pandas as pd
from ome_zarr.io import parse_url
from ome_zarr.reader import Node, Reader

In [11]:
root = "/home/jovyan/local_data/peak_calling_only_test/"
detected_peaks_path = root + "/anchor_spots/out_opt_flow_registered_detected_peaks.tsv"
raw_path = root + "/raws/out_opt_flow_registered/0"
reader = Reader(parse_url(raw_path))

2021-12-23 13:57:04,318 [WARNING] version mismatch: detected:FormatV02, requested:FormatV03

In [19]:
decoded_peaks_path = root + "/decoded/out_opt_flow_registered_decoded_df.tsv"

# Display peak locations

In [12]:
detected_peaks = pd.read_csv(detected_peaks_path, sep="\t")

In [13]:
detected_peaks

,Unnamed: 0,y,x,mass,size,ecc,signal,raw_mass,ep,frame
0,0,1045.340535,26870.002875,3069.035537,1.360482,0.631848,418.542444,15864.0,0.025765,0
1,1,1045.958544,5168.997287,3455.180920,1.369421,0.458708,437.704960,25929.0,0.015687,0
2,2,1045.615375,31572.922408,3469.931922,1.298543,0.526646,502.499081,19725.0,0.020671,0
3,3,1050.203373,29286.065175,2476.927566,1.359984,0.155589,276.271099,31087.0,0.013068,0
4,4,1056.149963,28322.060627,2405.791894,1.339743,0.175376,287.437746,21525.0,0.018926,0
...,...,...,...,...,...,...,...,...,...,...
1337712,1337712,25445.938796,11109.986399,4439.637967,1.380964,0.147798,446.390130,41788.0,0.009706,0
1337713,1337713,25471.000090,11513.017562,3053.595236,1.398274,0.143137,292.538559,29480.0,0.013785,0
1337714,1337714,25477.061271,10160.062602,4142.274313,1.452548,0.012834,540.272674,51212.0,0.007913,0
1337715,1337715,25478.879110,10160.960117,4448.598856,1.390213,0.395902,555.299395,42486.0,0.009546,0
1337716,1337716,25479.041150,13226.016338,2489.197091,1.343646,0.457785,334.447948,18145.0,0.022490,0

In [23]:
viewer = napari.Viewer()

In [24]:
img_layer = viewer.add_image(list(reader())[0].data)

2021-12-23 19:58:43,035 [INFO] root_attr: multiscales
2021-12-23 19:58:43,036 [INFO] datasets ['0', '1', '2', '3', '4', '5', '6']
2021-12-23 19:58:43,080 [INFO] resolution: 0
2021-12-23 19:58:43,081 [INFO]  - shape ('t', 'c', 'z', 'y', 'x') = (1, 35, 1, 26526, 46871)
2021-12-23 19:58:43,082 [INFO]  - chunks =  ['1', '1', '1', '1024 (+ 926)', '1024 (+ 791)']
2021-12-23 19:58:43,082 [INFO]  - dtype = >u2
2021-12-23 19:58:43,091 [INFO] resolution: 1
2021-12-23 19:58:43,092 [INFO]  - shape ('t', 'c', 'z', 'y', 'x') = (1, 35, 1, 13263, 23435)
2021-12-23 19:58:43,092 [INFO]  - chunks =  ['1', '1', '1', '1024 (+ 975)', '1024 (+ 907)']
2021-12-23 19:58:43,093 [INFO]  - dtype = >u2
2021-12-23 19:58:43,097 [INFO] resolution: 2
2021-12-23 19:58:43,098 [INFO]  - shape ('t', 'c', 'z', 'y', 'x') = (1, 35, 1, 6631, 11717)
2021-12-23 19:58:43,098 [INFO]  - chunks =  ['1', '1', '1', '1024 (+ 487)', '1024 (+ 453)']
2021-12-23 19:58:43,098 [INFO]  - dtype = >u2
2021-12-23 19:58:43,101 [INFO] resolution: 3
2021-12-23 19:58:43,101 [INFO]  - shape ('t', 'c', 'z', 'y', 'x') = (1, 35, 1, 3315, 5858)
2021-12-23 19:58:43,102 [INFO]  - chunks =  ['1', '1', '1', '1024 (+ 243)', '1024 (+ 738)']
2021-12-23 19:58:43,102 [INFO]  - dtype = >u2
2021-12-23 19:58:43,104 [INFO] resolution: 4
2021-12-23 19:58:43,104 [INFO]  - shape ('t', 'c', 'z', 'y', 'x') = (1, 35, 1, 1657, 2929)
2021-12-23 19:58:43,105 [INFO]  - chunks =  ['1', '1', '1', '1024 (+ 633)', '1024 (+ 881)']
2021-12-23 19:58:43,105 [INFO]  - dtype = >u2
2021-12-23 19:58:43,107 [INFO] resolution: 5
2021-12-23 19:58:43,107 [INFO]  - shape ('t', 'c', 'z', 'y', 'x') = (1, 35, 1, 828, 1464)
2021-12-23 19:58:43,108 [INFO]  - chunks =  ['1', '1', '1', '828', '1024 (+ 440)']
2021-12-23 19:58:43,108 [INFO]  - dtype = >u2
2021-12-23 19:58:43,111 [INFO] resolution: 6
2021-12-23 19:58:43,112 [INFO]  - shape ('t', 'c', 'z', 'y', 'x') = (1, 35, 1, 414, 732)
2021-12-23 19:58:43,112 [INFO]  - chunks =  ['1', '1', '1', '414', '732']
2021-12-23 19:58:43,113 [INFO]  - dtype = >u2
2021-12-23 19:58:43,114 [WARNING] version mismatch: detected:FormatV03, requested:FormatV02

/opt/conda/lib/python3.8/site-packages/dask/array/core.py:221: RuntimeWarning: coroutine 'get_msg' was never awaited
  return list(product(*slices))
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

In [16]:
spots_layer = viewer.add_points(detected_peaks[["y", "x"]].to_numpy(), face_color="red", size=3)

2021-12-23 13:57:11,562 [ERROR] Exception in callback BaseAsyncIOLoop._handle_events(142, 1)
handle: <Handle BaseAsyncIOLoop._handle_events(142, 1)>
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/asyncio/events.py", line 81, in _run
    self._context.run(self._callback, *self._args)
  File "/opt/conda/lib/python3.8/site-packages/tornado/platform/asyncio.py", line 189, in _handle_events
    handler_func(fileobj, events)
  File "/opt/conda/lib/python3.8/site-packages/zmq/eventloop/zmqstream.py", line 452, in _handle_events
    self._handle_recv()
  File "/opt/conda/lib/python3.8/site-packages/zmq/eventloop/zmqstream.py", line 481, in _handle_recv
    self._run_callback(callback, msg)
  File "/opt/conda/lib/python3.8/site-packages/zmq/eventloop/zmqstream.py", line 431, in _run_callback
    callback(*args, **kwargs)
  File "/opt/conda/lib/python3.8/site-packages/jupyter_client/threaded.py", line 121, in _handle_recv
    msg_list = self.ioloop._asyncio_event_loop.run_until_complete(get_msg(future_msg))
  File "/opt/conda/lib/python3.8/asyncio/base_events.py", line 592, in run_until_complete
    self._check_running()
  File "/opt/conda/lib/python3.8/asyncio/base_events.py", line 554, in _check_running
    raise RuntimeError(
RuntimeError: Cannot run the event loop while another loop is running

/opt/conda/lib/python3.8/site-packages/napari/utils/events/event.py:444: RuntimeWarning: coroutine 'get_msg' was never awaited
  for ri, criteria in enumerate((before, after)):
RuntimeWarning: Enable tracemalloc to get the object allocation traceback
/opt/conda/lib/python3.8/site-packages/vispy/visuals/transforms/transform_system.py:145: RuntimeWarning: coroutine 'get_msg' was never awaited
  self._mappings = {'ct0': None, 'ct1': None, 'ft0': None}
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

# Display decoded peaks

In [25]:
decoded_peaks = pd.read_csv(decoded_peaks_path, sep="\t")

In [26]:
decoded_group = decoded_peaks.groupby("Name")

In [27]:
for n, grp in decoded_group:
#     print(n, grp)
    viewer.add_points(grp[["y_int", "x_int"]].values, name=n, visible=False, size=15, edge_color="red")

In [32]:
def generate_pyramid(original_img):
    pyramid = []
    pyramid.append(original_img)
    for i in range(2, 10, 2):
        pyramid.append(original_img[::i**2, ::i**2])
    return pyramid